.input-range {
  --thumb-size: 1.25rem;

  position: relative;

  &__scale-wrapper {
    background-color: var(--stroke);
    border-radius: 60px;
  }
  &__scale {
    cursor: pointer;
    position: relative;
    background-color: var(--stroke);
    border-radius: 60px;
    height: 0.35rem;
    display: flex;
    align-items: center;
  }
  &__scale--db-range {
    width: calc(100% - var(--thumb-size));
    background-color: transparent;
  }

  &__bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 60px;
    width: 50%;
    z-index: 10;
    transform: translateX(calc(var(--thumb-size) / 2));
  }

  &__thumb {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    width: var(--thumb-size);
    height: var(--thumb-size);
    touch-action: none;
    z-index: 20;
    background-color: var(--white);
    border: 3px solid var(--primary);
    transition-property: background-color, border-color;
    transition-duration: 0.2s;
  }
  &__thumb.grabbed,
  &__thumb:hover {
    background-color: var(--primary-darker);
    border-color: var(--primary-darker);
  }
}
