.support-chat {
  .chat-body {
    position: relative;
    overflow: auto;
    max-height: 600px;
    padding: 0.5rem 1rem;
  }

  .inner {
    position: relative;
  }

  .top-spy,
  .bottom-spy {
    background: transparent;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
  }

  .top-spy {
    top: 0;
  }

  .bottom-spy {
    bottom: 0;
  }
}
