.support-chat {
  min-width: 0;

  .chat-body {
    position: relative;
    overflow: auto;
    height: 600px;
    padding: 0.5rem 1rem;
    min-width: 0;
    width: 100%;
  }

  .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-width: 0;
  }

  .top-spy,
  .bottom-spy {
    background: transparent;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
  }

  .top-spy {
    top: 0;
  }

  .bottom-spy {
    bottom: 0;
  }
}
