// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Thin.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Thin.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Thin.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Thin.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Thin.svg?g7z9lc#icon") format("svg");
//   font-weight: 300;
//   font-style: normal;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Regular.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Regular.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Regular.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Regular.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Regular.svg?g7z9lc#icon") format("svg");
//   font-weight: 400;
//   font-style: normal;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Italic.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Italic.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Italic.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Italic.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Italic.svg?g7z9lc#icon") format("svg");
//   font-weight: 400;
//   font-style: italic;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Medium.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Medium.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Medium.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Medium.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Medium.svg?g7z9lc#icon") format("svg");
//   font-weight: 500;
//   font-style: normal;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Bold.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Bold.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Bold.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Bold.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Bold.svg?g7z9lc#icon") format("svg");
//   font-weight: 700;
//   font-style: normal;
//   font-display: optional;
// }

// @font-face {
//   font-family: "Roboto";
//   src: url("@/assets/Fonts/Roboto/Roboto-Black.eot?g7z9lc");
//   src: url("@/assets/Fonts/Roboto/Roboto-Black.eot?g7z9lc#iefix")
//       format("embedded-opentype"),
//     url("@/assets/Fonts/Roboto/Roboto-Black.ttf?g7z9lc") format("truetype"),
//     url("@/assets/Fonts/Roboto/Roboto-Black.woff?g7z9lc") format("woff"),
//     url("@/assets/Fonts/Roboto/Roboto-Black.svg?g7z9lc#icon") format("svg");
//   font-weight: 900;
//   font-style: normal;
//   font-display: optional;
// }

@font-face {
  font-family: "RobotoFlex";
  src: url("@/assets/Fonts/RobotoFlex/RobotoFlex.woff2")
      format("woff2-variations"),
    url("@/assets/Fonts/RobotoFlex/RobotoFlex.woff") format("woff-variations"),
    url("@/assets/Fonts/RobotoFlex/RobotoFlex.ttf")
      format("truetype-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}
