html {
  line-height: 120%;
  font-weight: 400;
  font-family: var(--font-roboto-flex);
  font-size: clamp(0.875em, 0.5svw + 0.6em, 1.15em);

  @include scrollbar();
  * {
    @include scrollbar();
  }
}


:root:has(.firefox) {
  @include scrollbarFirefox();

  * {
    @include scrollbarFirefox();
  }
}

._container {
  margin: 0 auto;
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: 0 var(--container-padding-x);
}

._link {
  text-decoration: none;
  @include fontSize(14);
  color: var(--text-color);
  transition: var(--general-transition);

  &:hover {
    color: var(--secondary-2);
  }

  &--white {
    color: var(--white);
  }
}

._error {
  color: var(--red);
  @include fontSize(14);
}

._box {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--white);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

._section {
  &--primary-color {
    @extend ._section;
    color: var(--white);
    background-color: var(--primary);
  }
}
