.notification-anim {
  &-enter-active,
  &-leave-active,
  &-move {
    transition: var(--general-transition);
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateX(200%);
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  &-enter-active,
  &-leave-active {
    transition: var(--general-transition);
  }
  
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
  
  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}
