:root {
  // размеры
  --container-width: max(73.125rem, 1170px);
  --container-padding-x: 15px;
  --container-unpadding: calc(var(--container-padding-x) * -1);

  // шрифты
  --font-roboto-flex: RobotoFlex, sans-serif;

  // цвета и градиенты
  --black: #000000;
  --white: #ffffff;
  --primary: #8b75c8;
  --primary-transparent: rgba(139, 117, 200, 0.5);
  --primary-darker: #59409d;
  --primary-dark: #251c41;
  --secondary: #97d413;
  --secondary-2: #0db10a;
  --secondary-3: #34c900;
  --text-color: #313131;
  --text-color-light: #767676;
  --stroke: #e7e7e7;
  --red: #da0101;
  --rating-total-color: #d4d4d4;
  --rating-fill-color: #ffc107;
  --breadcrumbs-color: #b3b3b3;
  --border-footer-color: #383050;
  --input-border-color: #dadada;
  --input-border-color-active: var(--primary);
  --input-placeholder-color: #808080;
  --input-text-color: var(--black);
  --info-row-bg: #f6f6f6;
  --tab-inactive-text: #c2c2c2;

  // transitions
  --general-transition: all 0.25s ease-in-out, font-size 0s, line-height 0s,
    margin 0s, padding 0s, gap 0s;
  --spoiler-body-transition-property: max-height, padding;
  --spoiler-body-transition-duration: 0.25s;
  --spoiler-body-transition-tfunc: ease;
}
