:root {
  // шрифты
  --font-roboto-flex: RobotoFlex, sans-serif;

  // цвета и градиенты
  --black: #000000;
  --white: #ffffff;
  --primary: #8b75c8;
  --primary-dark: #251c41;
  --secondary: #97d413;
  --secondary-2: #0db10a;
  --secondary-3: #34c900;
  --text-color: #313131;
  --stroke: #e7e7e7;
  --red: #da0101;

  // transitions
  --general-transition: all 0.25s ease;
}
