:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #8b75c8;
  --primary-transparent: rgba(39, 28, 70, 0.7);
  --primary-darker: #59409d;
  --primary-dark: #251c41;
  --secondary: #97d413;
  --secondary-transparent: rgba(151, 212, 19, 0.5);
  --secondary-2: #0db10a;
  --secondary-3: #34c900;
  --text-color: #313131;
  --text-color-light: #767676;
  --stroke: #e7e7e7;
  --red: #da0101;
  --rating-total-color: #d4d4d4;
  --rating-fill-color: #ffc107;
  --breadcrumbs-color: #b3b3b3;
  --border-footer-color: #383050;
  --input-border-color: #dadada;
  --input-border-color-active: var(--primary);
  --input-placeholder-color: #808080;
  --input-text-color: var(--black);
  --info-row-bg: #f6f6f6;
  --tab-inactive-text: #c2c2c2;

  --status-1: #b08787;
  --status-2: #fb6a6a;
  --status-3: #f7c500;
  --status-4: #9bca37;
  --status-5: #54ca37;

  --gray-900: #17191f;
  --gray-800: #34363d;
  --gray-700: #53555c;
  --gray-600: #6f727a;
  --gray-500: #85878f;
  --gray-400: #9b9da3;
  --gray-300: #aeb0b8;
  --gray-200: #e8e9eb;
  --gray-100: #f2f3f5;
  --gray-50: #f9fafc;
  --gray-25: #fcfdff;
}
