@use "sass:map";

$fHeadlines: (
  2: 24px 500,
);
@mixin fHeadline($num) {
  $item: map.get($fHeadlines, $num);
  $fontSize: nth($item, 1);
  $fontWeight: nth($item, 2);

  font-weight: $fontWeight;
  font-size: $fontSize;
}

$fonts: (
  12: 0.75rem,
  14: 0.875rem,
  16: 1rem,
  18: 1.125rem,
  20: 1.25rem,
  24: 1.5rem,
  30: 1.875rem,
);
@mixin fAny($num, $fontWeight) {
  $item: map.get($fonts, $num);
  $fontSize: nth($item, 1);

  font-size: $fontSize;
  font-weight: $fontWeight;
}

@mixin fRegular($num) {
  @include fAny($num, 400);
}
@mixin fMedium($num) {
  @include fAny($num, 500);
}
@mixin fBold($num) {
  @include fAny($num, 700);
}
