@use 'sass:map';

@mixin adaptive($size) {
  @if $size ==phone-small {
    @media screen and (max-width: 359px) {
      @content;
    }
  } @else if $size ==phone {
    @media screen and (max-width: 478px) {
      @content;
    }
  } @else if $size ==phone-big {
    @media screen and (max-width: 619px) {
      @content;
    }
  } @else if $size ==tablet-small {
    @media screen and (max-width: 766px) {
      @content;
    }
  } @else if $size ==tablet-big {
    @media screen and (max-width: 990px) {
      @content;
    }
  } @else if $size ==desktop-small {
    @media screen and (max-width: 1199px) {
      @content;
    }
  } @else if $size ==desktop-mid {
    @media screen and (max-width: 1599px) {
      @content;
    }
  } @else if $size ==min-phone-small {
    @media screen and (min-width: 360px) {
      @content;
    }
  } @else if $size ==min-phone {
    @media screen and (min-width: 479px) {
      @content;
    }
  } @else if $size ==min-phone-big {
    @media screen and (min-width: 620px) {
      @content;
    }
  } @else if $size ==min-tablet-small {
    @media screen and (min-width: 767px) {
      @content;
    }
  } @else if $size ==min-tablet-big {
    @media screen and (min-width: 991px) {
      @content;
    }
  } @else if $size ==min-desktop-small {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else if $size ==min-desktop-mid {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }
}

@mixin scrollbar() {
  & {
    &::-webkit-scrollbar {
      height: 2px;
      width: 7px;
      background-color: var(--white);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary);
      width: 2px;
      height: 2px;

      &:hover {
        background-color: var(--primary-darker);
      }
    }
  }
}
@mixin scrollbarFirefox() {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--white);
}

@mixin noScrollbar() {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
}

@mixin fontSize($sizePx, $lineHeight: 130%) {
  font-size: #{calc($sizePx / 16)}rem;
  line-height: $lineHeight;
}

$fHeadlines: (
  1: 2rem 700,
  2: 1.5rem 500,
  3: 1.25rem 500,
  4: 1rem 500,
);
@mixin fHeadline($num) {
  $item: map.get($fHeadlines, $num);
  $fontSize: nth($item, 1);
  $fontWeight: nth($item, 2);

  font-weight: $fontWeight;
  font-size: $fontSize;
}
